body {
    background-color: white;
}

h1{
    text-align: center;
    font-family: 'Antic Slab', serif;
    color: black;
    font-weight: bold;
}

h2{
    text-align: center;
    font-family: 'Antic Slab', serif;
    color: black;
}

h5{
    text-align: center;
    font-family: 'Antic Slab', serif;
    color: black;
}
