body {
    background-color: white;
    font-family: Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-family: 'Antic Slab', serif;
    color: black;
    font-weight: bold;
    margin-top: 1em;
}

h3{
  margin-top: 1em;
}

h4{
    text-align: center;
    font-family: 'Antic Slab', serif;
    color: black;
}

h5{
    text-align: center;
    font-family: 'Antic Slab', serif;
    color: black;
}

.date-update{
  color: grey;
  font-size: small;
}

.note{
  font-style: italic;
  padding-top: 1em;
  margin-bottom: 1em;
}

.figure {
  font-size: small;
  padding-bottom: 1em;
}

.channels {
  padding: 0.5em;
  margin: 0.2em;
}

/* Emoji top */
section {
    min-height: 8em;
    margin: 6% auto;
    display: flex;
    position: relative;

    flex-flow: row wrap;
    justify-content: space-around;
  }
  section a {
    display: flex;
    
    flex-grow: 1;
    cursor: pointer;
    transition: all 100ms ease-in;
    border-bottom: 1em solid white;
    margin: 2px;
    padding: 0.5em;
    color: rgba(255, 255, 255, 1);
    /* border-radius: 5px; */
  }
  section a:hover {
    border-bottom-width: 0em;
  }
  section a.clicked {
    color: rgba(255, 255, 255, 0.8);
    flex-grow: 1.4;
  }
  section.mood a:nth-child(1) {
    background-color: #ef476f;
  }
  section.mood a:nth-child(2) {
    background-color: #f36a6d;
  }
  section.mood a:nth-child(3) {
    background-color: #f78c6b;
  }
  section.mood a:nth-child(4) {
    background-color: #fbaf69;
  }
  section.mood a:nth-child(5) {
    background-color: #ffd166;
  }
  section.mood a:nth-child(6) {
    background-color: #e0d26e;
  }
  section.mood a:nth-child(7) {
    background-color: #c1d375;
  }
  section.mood a:nth-child(8) {
    background-color: #a2d47c;
  }
  section.mood a:nth-child(9) {
    background-color: #83d483;
  }
  section.mood a:nth-child(10) {
    background-color: #45d592;
  }
  section.mood a img {
    opacity: 0.9;
    margin: auto;
    max-width: 6em;
    height: 4em;
    position: relative;
    left: -0.2em;
  }
